.container {
  width: 1200px;
  margin: 0 auto;
  border: 1px solid red;
  padding-left: 15px;
  padding-right: 15px;
}
body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}
